[submodule "modules/nice"]
	path = modules/nice
	url = https://github.com/shikr/awesome-wm-nice.git
[submodule "modules/lua-color"]
	path = modules/lua-color
	url = https://github.com/shikr/lua-color.git
[submodule "modules/rubato"]
	path = modules/rubato
	url = https://github.com/andOrlando/rubato.git
